<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Thorium - Login</title>
    <base href="http://localhost:8081/"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css?version=6}"/>
    <link rel="stylesheet" th:href="@{/css/home/index.css?version=6}"/>
</head>
<body>
<header>
    <div class="header-main-wrapper">
        <a href="#" class="header-main-a a-box">
            <div class="header-link non-selectable">Thorium</div>
        </a>
    </div>
    <div class="header-links-wrapper">
        <a href="#" class="header-item a-box">
            <div class="header-link non-selectable">Menu</div>
        </a>
        <a href="#" class="header-item a-box">
            <div class="header-link non-selectable">Start</div>
        </a>
        <a href="#" class="header-item a-box">
            <div class="header-link non-selectable">FAQ</div>
        </a>
        <a href="#" class="header-item a-box">
            <div class="header-link non-selectable">About</div>
        </a>
    </div>
    <div class="header-right-wrapper">
        <a href="#" class="header-auth-a header-login-btn a-box">
            <div class="header-link non-selectable">Login</div>
        </a>
        <a href="#" class="header-auth-a header-register-btn a-box">
            <div class="header-link non-selectable">Register</div>
        </a>
        <a href="#" class="header-darkmode-a a-box">
            <div class="header-link non-selectable"><i class="fa fa-moon-o"></i></div>
        </a>
    </div>
</header>
<main>
    <section id="section-1">
        <b>This webpage is for development purposes only. It will be replaced later.</b>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
    </section>
    <section id="section-2">
        <b>LOGIN</b>
    </section>
</main>
<footer>
    Made by Szymon Gosk
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>