<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1" />
    <title>Thorium</title>
    <!-- Put style here -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraph.css" />
    <script type="text/javascript" charset="UTF-8"
            src="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraphcore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
          integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
            integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
            crossorigin="anonymous"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
            integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>

    <script async defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Put scripts here -->
    <script type="application/javascript" th:src="@{/javascript/test.js}"></script>
    <script src="https://kit.fontawesome.com/f6b215a682.js" crossorigin="anonymous"></script>
</head>
<body>

    <form class="a" method="POST" th:action="@{/}" th:object="${query}">
        <input class="a" type="text" name="q" placeholder="Input" aria-label="Input" th:field="*{content}">
        <button class="a" type="submit" value="Submit" name="action">Calculate</button>
    </form>

    <div th:each="query : ${queries}">
        <span class="toRender" th:text="${query.content}"></span>
    </div>

    <div>
        <span class="target"></span>
    </div>

<!--    <div class="container" th:each="r : ${renders}">-->
<!--        <span class="toRender" th:text="${r.latex}"></span>-->
<!--    </div>-->

<!--    <div class="t" >-->
<!--        <span class="target"></span>-->
<!--    </div>-->

    <script type="application/javascript" th:src="@{/javascript/test.js}"></script>

</body>
</html>